<a href="https://colab.research.google.com/github/ganeshmp01/DS-Classwork/blob/main/Python/Import_with_examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
package - collection of modules(numpy,pandas)
module - collection of functions(json, math,calendar,os)
function - set of code to run a limited functionality when it's called(print(),sorted(),copy())

import math

math.sqrt(16)

dir(math) --- this will show all the functions present inside the math module

book = { "bob" : 9897893 , "Ganesh" : 87638274 , "Krishna" : 78967265}
book
import json
s=json.dumps(book)   ###dumps(dumping the dictionary called book as a string)

with open("c:/ganesh/python/book.txt","w") as f  ## write a file called book.txt using the file "s"
     f.write(s)

f=open("C:/ganesh/python/book.txt","r") # reading a file from the given path
s=f.read()

import json
book=json.loads(s)  # loading a string a data from the file s in to a dictionary named book.
book

for person in book:
   print(book[person])

In [1]:
import calendar
s=calendar.month(1988,5)
print(s)

      May 1988
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31